<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=arrow_left,arrow_right" />
<script src="https://kit.fontawesome.com/ca052c1b0a.js" crossorigin="anonymous"></script>

<title>{{title}} - bobawesome</title>
<link rel="icon" type="image/x-icon" href="">
<link rel="stylesheet" href="/css/style.css"/>
	{% if pageStyles %}
        <link rel="stylesheet" href="{{ pageStyles }}">
    {% endif %}
<script src="/js/script.js" defer></script>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<div id="search"></div>
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search" });
    });
</script>