  
    <div class="footer-content">
    <div class="links">
      <a href="/">Home</a>
      <span class="divider">|</span>
      <a href="/archive">Archive</a>
      <span class="divider">|</span>
      <a href="#">Links</a>
	 </div>
	<div class="footer-logo">
		<img src="" />
	</div>
	<div class="credit">
		<p>
			&copy; <span id="copyright-year"></span> Bobawesome. All Rights Reserved.
		</p>
		<p class="cidnets-credit">
			Coded &amp Designed by <a href="https://sydgarcia.pages.dev/links/">Syd Garcia @Cidnets</a>
		</p>
    </div>
	</div>