<div class="navbar" id="navbar">
	<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="logo">
		<img src="/assets/bobawesome.gif"/>
   </a>
   <input type="checkbox" id="menu-toggle" class="menu-toggle">
   <label for="menu-toggle" class="hamburger small-screen-logo">
		<img src=""/></a>
   </label>
   <div class="navbar-right">
		<a {% if page.url == '/' %} href="#" {% else %} href="/" {% endif %} class="site-title">
			<h1>Bob's Awesome Stories</h1>
			<h5>By Bobawesome</h5>
		</a>
		<div class="nav-links">
			<a href="/" class="{% if page.url == '/' %}active {% endif %}">Home</a>
			<a href="/#about" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
			<a href="/archive" class="{% if page.url == '/archive/' %}active{% endif %}">Archive</a>
			<a href="/contact" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a>
		</div>
   </div>
   
</div>
 
 <button onclick="backToTop()" id="back-to-top-bttn" title="Go to top"><i class="fa-solid fa-caret-up"></i><p>Top</p></button>
