<!DOCTYPE html>
<html lang="en">
  <head data-pagefind-ignore>
	{% include "basehead.njk" %}
  </head>
  
<body>
    {% include "navbar.njk" %}
    
  <main data-pagefind-body>
    {{ content | safe }}    
  </main>
    
  <footer class="footer" data-pagefind-ignore>
	{% include "footer.njk" %}    
  </footer>
   
  </body>
</html>